In [1]:
import sqlite3
import unicodecsv

In [2]:
%load_ext sql
%sql sqlite:///2016_bustimes.db

/opt/conda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated since IPython 4.0. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/opt/conda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

u'Connected: None@2016_bustimes.db'

In [3]:
#creates overall database
conn = sqlite3.connect('2016_bustimes.db')
cur = conn.cursor()

In [4]:
#creates stop times table for 201620160103
cur.execute("CREATE TABLE Stop_Times_201620160103(trip_id TEXT,arrival_time TEXT, departure_time TEXT, stop_id INT, stop_sequence INT, pickup_type INT, drop_off_type INT)")

In [5]:
%%sql
SELECT * FROM Stop_Times_201620160103
--#check on table headers

Done.

[]

In [7]:
with open('stop_times20160103.txt', 'rb') as input_file:
    reader = unicodecsv.reader(input_file, delimiter = ',')
    data = [row for row in reader]
cur.executemany("INSERT INTO Stop_Times_201620160103 (trip_id, arrival_time, departure_time, stop_id, stop_sequence, pickup_type, drop_off_type) VALUES (?, ?, ?, ?, ?, ?, ?);", data)
#reading indata from text file into the stop times 201620160103 table

In [9]:
conn.commit()

In [10]:
%%sql
SELECT * FROM Stop_Times_201620160103
LIMIT 5
--#check on table

Done.

[(u'trip_id', u'arrival_time', u'departure_time', u'stop_id', u'stop_sequence', u'pickup_type', u'drop_off_type'),
 (u'11118737-BPPA6-BP_A6-Weekday-10', u'00:00:00', u'00:00:00', 551840, 1, 0, 0),
 (u'11118737-BPPA6-BP_A6-Weekday-10', u'00:00:58', u'00:00:58', 551841, 2, 0, 0),
 (u'11118737-BPPA6-BP_A6-Weekday-10', u'00:02:00', u'00:02:00', 551843, 3, 0, 0),
 (u'11118737-BPPA6-BP_A6-Weekday-10', u'00:02:24', u'00:02:24', 551844, 4, 0, 0)]

In [11]:
#creates routes table for 201620160103
cur.execute("CREATE TABLE Routes_201620160103(route_id TEXT, agency_id TEXT, route_short_name TEXT, route_long_name TEXT, route_desc TEXT, route_type INT, route_url TEXT, route_color TEXT, route_text_color TEXT)")

In [12]:
with open('routes20160103.txt', 'rb') as input_file:
    reader = unicodecsv.reader(input_file, delimiter = ',')
    data = [row for row in reader]
cur.executemany("INSERT INTO Routes_201620160103 (route_id, agency_id, route_short_name, route_long_name, route_desc, route_type, route_url, route_color, route_text_color) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?);", data)
conn.commit()
#reading indata from text file into the routes 201620160103 table

In [13]:
%%sql
SELECT * FROM Routes_201620160103
LIMIT 5
--#check on table

Done.

[(u'route_id', u'agency_id', u'route_short_name', u'route_long_name', u'route_desc', u'route_type', u'route_url', u'route_color', u'route_text_color'),
 (u'Q06', u'MTABC', u'Q6', u'Sutphin Boulevard', u'Via Sutphin Blvd / Rockaway Blvd', 3, u'http://web.mta.info/busco/schedules/q006cur.pdf', u'B933AD', u'FFFFFF'),
 (u'Q07', u'MTABC', u'Q7', u'Rockaway Boulevard', u'Via Rockaway Blvd', 3, u'http://web.mta.info/busco/schedules/q007cur.pdf', u'6CBE45', u'FFFFFF'),
 (u'Q08', u'MTABC', u'Q8', u'101St Avenue', u'Via 101St Av', 3, u'http://web.mta.info/busco/schedules/q008cur.pdf', u'B933AD', u'FFFFFF'),
 (u'Q09', u'MTABC', u'Q9', u'Lincoln Street', u'Via Van Wyck Expwy / 135Th St / Lincoln St', 3, u'http://web.mta.info/busco/schedules/q009cur.pdf', u'B933AD', u'FFFFFF')]

In [14]:
#creates stops table for 201620160103
cur.execute("CREATE TABLE Stops_201620160103(stop_id INT, stop_name TEXT, stop_desc TEXT, stop_lat INT, stop_lon INT)")

In [15]:
with open('stops20160103.txt', 'rb') as input_file:
    reader = unicodecsv.reader(input_file, delimiter = ',')
    data = [row for row in reader]
cur.executemany("INSERT INTO Stops_201620160103 (stop_id, stop_name, stop_desc, stop_lat, stop_lon) VALUES (?, ?, ?, ?, ?);", data)
conn.commit()
#reading indata from text file into the stops 201620160103 table

In [16]:
%%sql
SELECT * FROM Stops_201620160103
LIMIT 5
--#check on table

Done.

[(u'stop_id', u'stop_name', u'stop_desc', u'stop_lat', u'stop_lon'),
 (100025, u'GRAND CONCOURSE/E 161 ST', u'GRAND CONCOURSE & E 161 ST', 40.826617, -73.922643),
 (100027, u'GRAND CONCOURSE/E 165 ST', u'GRAND CONCOURSE & E 165 ST', 40.83132, -73.91994),
 (100039, u'GRAND CONCOURSE/E BURNSIDE AV', u'GRAND CONCOURSE & E BURNSIDE AV', 40.852124, -73.90358),
 (100045, u'GRAND CONCOURSE/E FORDHAM RD', u'GRAND CONCOURSE & E FORDHAM RD', 40.862958, -73.896434)]

In [17]:
#creates trips table for 201620160103
cur.execute("CREATE TABLE Trips_201620160103(route_id TEXT, service_id TEXT, trip_id TEXT, trip_headsign TEXT, direction_id INT, block_id INT, shape_id TEXT)")

In [19]:
with open('trips20160103.txt', 'rb') as input_file:
    reader = unicodecsv.reader(input_file, delimiter = ',')
    data = [row for row in reader]
cur.executemany("INSERT INTO Trips_201620160103 (route_id, service_id, trip_id, trip_headsign, direction_id, block_id, shape_id) VALUES (?, ?, ?, ?, ?, ?, ?);", data)
conn.commit()
#reading indata from text file into the trips 201620160103 table

In [21]:
%%sql
SELECT * FROM Trips_201620160103
LIMIT 5

Done.

[(u'route_id', u'service_id', u'trip_id', u'trip_headsign', u'direction_id', u'block_id', u'shape_id'),
 (u'Q64', u'BPPA6-BP_A6-Weekday-10', u'11118737-BPPA6-BP_A6-Weekday-10', u'FOREST HILLS 71 AV STA via JEWEL AV via 69 RD', 1, 2172007, u'Q640053'),
 (u'Q64', u'BPPA6-BP_A6-Weekday-10', u'11118738-BPPA6-BP_A6-Weekday-10', u'ELECTCHESTER 164 ST via JEWEL AV', 0, 2172007, u'Q640070'),
 (u'Q64', u'BPPA6-BP_A6-Weekday-10', u'11118739-BPPA6-BP_A6-Weekday-10', u'FOREST HILLS 71 AV STA via JEWEL AV via 69 RD', 1, 2172007, u'Q640053'),
 (u'Q64', u'BPPA6-BP_A6-Weekday-10', u'11118740-BPPA6-BP_A6-Weekday-10', u'ELECTCHESTER 164 ST via JEWEL AV', 0, 2172007, u'Q640070')]

In [24]:
%%sql
SELECT * FROM sqlite_master

Done.

[(u'table', u'Stop_Times_201620160103', u'Stop_Times_201620160103', 2, u'CREATE TABLE Stop_Times_201620160103(trip_id TEXT,arrival_time TEXT, departure_time TEXT, stop_id INT, stop_sequence INT, pickup_type INT, drop_off_type INT)'),
 (u'table', u'Routes_201620160103', u'Routes_201620160103', 24035, u'CREATE TABLE Routes_201620160103(route_id TEXT, agency_id TEXT, route_short_name TEXT, route_long_name TEXT, route_desc TEXT, route_type INT, route_url TEXT, route_color TEXT, route_text_color TEXT)'),
 (u'table', u'Stops_201620160103', u'Stops_201620160103', 24039, u'CREATE TABLE Stops_201620160103(stop_id INT, stop_name TEXT, stop_desc TEXT, stop_lat INT, stop_lon INT)'),
 (u'table', u'Trips_201620160103', u'Trips_201620160103', 24101, u'CREATE TABLE Trips_201620160103(route_id TEXT, service_id TEXT, trip_id TEXT, trip_headsign TEXT, direction_id INT, block_id INT, shape_id TEXT)')]