In [1]:
import sqlite3
import unicodecsv

In [2]:
%load_ext sql
%sql sqlite:///2016_bustimes.db

/opt/conda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated since IPython 4.0. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/opt/conda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

u'Connected: None@2016_bustimes.db'

In [3]:
#connects overall database
conn = sqlite3.connect('2016_bustimes.db')
cur = conn.cursor()

In [4]:
#creates stop times table for 20160703
cur.execute("CREATE TABLE Stop_Times_20160703(trip_id TEXT,arrival_time TEXT, departure_time TEXT, stop_id INT, stop_sequence INT, pickup_type INT, drop_off_type INT)")

In [5]:
%%sql
SELECT * FROM Stop_Times_20160703
--#check on table headers

Done.

[]

In [6]:
with open('stop_times20160703.txt', 'rb') as input_file:
    reader = unicodecsv.reader(input_file, delimiter = ',')
    data = [row for row in reader]
cur.executemany("INSERT INTO Stop_Times_20160703 (trip_id, arrival_time, departure_time, stop_id, stop_sequence, pickup_type, drop_off_type) VALUES (?, ?, ?, ?, ?, ?, ?);", data)
#reading indata from text file into the stop times 20160703 table

In [7]:
conn.commit()

In [20]:
%%sql
SELECT * FROM Stop_Times_20160703
LIMIT 15, 15
--#check on table

Done.

[(u'12717929-BPPC6-BP_C6-Weekday-30', u'00:09:41', u'00:09:41', 551848, 15, 0, 0),
 (u'12717929-BPPC6-BP_C6-Weekday-30', u'00:10:14', u'00:10:14', 550957, 16, 0, 0),
 (u'12717930-BPPC6-BP_C6-Weekday-30', u'00:22:00', u'00:22:00', 551810, 1, 0, 0),
 (u'12717930-BPPC6-BP_C6-Weekday-30', u'00:23:18', u'00:23:18', 551811, 2, 0, 0),
 (u'12717930-BPPC6-BP_C6-Weekday-30', u'00:23:53', u'00:23:53', 551812, 3, 0, 0),
 (u'12717930-BPPC6-BP_C6-Weekday-30', u'00:24:28', u'00:24:28', 551813, 4, 0, 0),
 (u'12717930-BPPC6-BP_C6-Weekday-30', u'00:26:52', u'00:26:52', 551816, 5, 0, 0),
 (u'12717930-BPPC6-BP_C6-Weekday-30', u'00:27:25', u'00:27:25', 551818, 6, 0, 0),
 (u'12717930-BPPC6-BP_C6-Weekday-30', u'00:27:55', u'00:27:55', 551820, 7, 0, 0),
 (u'12717930-BPPC6-BP_C6-Weekday-30', u'00:28:31', u'00:28:31', 551822, 8, 0, 0),
 (u'12717930-BPPC6-BP_C6-Weekday-30', u'00:29:00', u'00:29:00', 551824, 9, 0, 0),
 (u'12717930-BPPC6-BP_C6-Weekday-30', u'00:29:31', u'00:29:31', 551826, 10, 0, 0),
 (u'12717930-BPPC6-BP_C6-Weekday-30', u'00:30:08', u'00:30:08', 551828, 11, 0, 0),
 (u'12717930-BPPC6-BP_C6-Weekday-30', u'00:30:36', u'00:30:36', 551830, 12, 0, 0),
 (u'12717930-BPPC6-BP_C6-Weekday-30', u'00:31:19', u'00:31:19', 551832, 13, 0, 0)]

In [9]:
#creates routes table for 20160703
cur.execute("CREATE TABLE Routes_20160703(route_id TEXT, agency_id TEXT, route_short_name TEXT, route_long_name TEXT, route_desc TEXT, route_type INT, route_url TEXT, route_color TEXT, route_text_color TEXT)")

In [10]:
with open('routes20160703.txt', 'rb') as input_file:
    reader = unicodecsv.reader(input_file, delimiter = ',')
    data = [row for row in reader]
cur.executemany("INSERT INTO Routes_20160703 (route_id, agency_id, route_short_name, route_long_name, route_desc, route_type, route_url, route_color, route_text_color) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?);", data)
conn.commit()
#reading indata from text file into the routes 20160703 table

In [11]:
%%sql
SELECT * FROM Routes_20160703
LIMIT 5
--#check on table

Done.

[(u'route_id', u'agency_id', u'route_short_name', u'route_long_name', u'route_desc', u'route_type', u'route_url', u'route_color', u'route_text_color'),
 (u'Q06', u'MTABC', u'Q6', u'Sutphin Boulevard', u'Via Sutphin Blvd / Rockaway Blvd', 3, u'http://web.mta.info/busco/schedules/q006cur.pdf', u'B933AD', u'FFFFFF'),
 (u'Q07', u'MTABC', u'Q7', u'Rockaway Boulevard', u'Via Rockaway Blvd', 3, u'http://web.mta.info/busco/schedules/q007cur.pdf', u'6CBE45', u'FFFFFF'),
 (u'Q08', u'MTABC', u'Q8', u'101St Avenue', u'Via 101St Av', 3, u'http://web.mta.info/busco/schedules/q008cur.pdf', u'B933AD', u'FFFFFF'),
 (u'Q09', u'MTABC', u'Q9', u'Lincoln Street', u'Via Van Wyck Expwy / 135Th St / Lincoln St', 3, u'http://web.mta.info/busco/schedules/q009cur.pdf', u'B933AD', u'FFFFFF')]

In [12]:
#creates stops table for 20160703
cur.execute("CREATE TABLE Stops_20160703(stop_id INT, stop_name TEXT, stop_desc TEXT, stop_lat INT, stop_lon INT)")

In [13]:
with open('stops20160703.txt', 'rb') as input_file:
    reader = unicodecsv.reader(input_file, delimiter = ',')
    data = [row for row in reader]
cur.executemany("INSERT INTO Stops_20160703 (stop_id, stop_name, stop_desc, stop_lat, stop_lon) VALUES (?, ?, ?, ?, ?);", data)
conn.commit()
#reading indata from text file into the stops 20160403 table

In [14]:
%%sql
SELECT * FROM Stops_20160703
LIMIT 5
--#check on table

Done.

[(u'stop_id', u'stop_name', u'stop_desc', u'stop_lat', u'stop_lon'),
 (100025, u'GRAND CONCOURSE/E 161 ST', u'GRAND CONCOURSE & E 161 ST', 40.826617, -73.922643),
 (100027, u'GRAND CONCOURSE/E 165 ST', u'GRAND CONCOURSE & E 165 ST', 40.83132, -73.91994),
 (100039, u'GRAND CONCOURSE/E BURNSIDE AV', u'GRAND CONCOURSE & E BURNSIDE AV', 40.852124, -73.90358),
 (100045, u'GRAND CONCOURSE/E FORDHAM RD', u'GRAND CONCOURSE & E FORDHAM RD', 40.862958, -73.896434)]

In [15]:
#creates trips table for 20160703
cur.execute("CREATE TABLE Trips_20160703(route_id TEXT, service_id TEXT, trip_id TEXT, trip_headsign TEXT, direction_id INT, block_id INT, shape_id TEXT)")

In [16]:
with open('trips20160703.txt', 'rb') as input_file:
    reader = unicodecsv.reader(input_file, delimiter = ',')
    data = [row for row in reader]
cur.executemany("INSERT INTO Trips_20160703 (route_id, service_id, trip_id, trip_headsign, direction_id, block_id, shape_id) VALUES (?, ?, ?, ?, ?, ?, ?);", data)
conn.commit()
#reading indata from text file into the trips 201620160103 table

In [17]:
%%sql
SELECT * FROM Trips_20160703
LIMIT 5

Done.

[(u'route_id', u'service_id', u'trip_id', u'trip_headsign', u'direction_id', u'block_id', u'shape_id'),
 (u'Q64', u'BPPC6-BP_C6-Weekday-30', u'12717929-BPPC6-BP_C6-Weekday-30', u'FOREST HILLS 71 AV STA via JEWEL AV via 69 RD', 1, 2485508, u'Q640053'),
 (u'Q64', u'BPPC6-BP_C6-Weekday-30', u'12717930-BPPC6-BP_C6-Weekday-30', u'ELECTCHESTER 164 ST via JEWEL AV', 0, 2485508, u'Q640070'),
 (u'Q64', u'BPPC6-BP_C6-Weekday-30', u'12717931-BPPC6-BP_C6-Weekday-30', u'FOREST HILLS 71 AV STA via JEWEL AV via 69 RD', 1, 2485508, u'Q640053'),
 (u'Q64', u'BPPC6-BP_C6-Weekday-30', u'12717932-BPPC6-BP_C6-Weekday-30', u'ELECTCHESTER 164 ST via JEWEL AV', 0, 2485508, u'Q640070')]

In [18]:
%%sql
SELECT * FROM sqlite_master

Done.

[(u'table', u'Stop_Times_20160103', u'Stop_Times_20160103', 2, u'CREATE TABLE "Stop_Times_20160103"(trip_id TEXT,arrival_time TEXT, departure_time TEXT, stop_id INT, stop_sequence INT, pickup_type INT, drop_off_type INT)'),
 (u'table', u'Routes_20160103', u'Routes_20160103', 24035, u'CREATE TABLE "Routes_20160103"(route_id TEXT, agency_id TEXT, route_short_name TEXT, route_long_name TEXT, route_desc TEXT, route_type INT, route_url TEXT, route_color TEXT, route_text_color TEXT)'),
 (u'table', u'Stops_20160103', u'Stops_20160103', 24039, u'CREATE TABLE "Stops_20160103"(stop_id INT, stop_name TEXT, stop_desc TEXT, stop_lat INT, stop_lon INT)'),
 (u'table', u'Trips_20160103', u'Trips_20160103', 24101, u'CREATE TABLE "Trips_20160103"(route_id TEXT, service_id TEXT, trip_id TEXT, trip_headsign TEXT, direction_id INT, block_id INT, shape_id TEXT)'),
 (u'table', u'Stop_Times_20160403', u'Stop_Times_20160403', 25418, u'CREATE TABLE Stop_Times_20160403(trip_id TEXT,arrival_time TEXT, departure_time TEXT, stop_id INT, stop_sequence INT, pickup_type INT, drop_off_type INT)'),
 (u'table', u'Routes_20160403', u'Routes_20160403', 44064, u'CREATE TABLE Routes_20160403(route_id TEXT, agency_id TEXT, route_short_name TEXT, route_long_name TEXT, route_desc TEXT, route_type INT, route_url TEXT, route_color TEXT, route_text_color TEXT)'),
 (u'table', u'Stops_20160403', u'Stops_20160403', 44068, u'CREATE TABLE Stops_20160403(stop_id INT, stop_name TEXT, stop_desc TEXT, stop_lat INT, stop_lon INT)'),
 (u'table', u'Trips_20160403', u'Trips_20160403', 44130, u'CREATE TABLE Trips_20160403(route_id TEXT, service_id TEXT, trip_id TEXT, trip_headsign TEXT, direction_id INT, block_id INT, shape_id TEXT)'),
 (u'table', u'Stop_Times_20160703', u'Stop_Times_20160703', 45162, u'CREATE TABLE Stop_Times_20160703(trip_id TEXT,arrival_time TEXT, departure_time TEXT, stop_id INT, stop_sequence INT, pickup_type INT, drop_off_type INT)'),
 (u'table', u'Routes_20160703', u'Routes_20160703', 59647, u'CREATE TABLE Routes_20160703(route_id TEXT, agency_id TEXT, route_short_name TEXT, route_long_name TEXT, route_desc TEXT, route_type INT, route_url TEXT, route_color TEXT, route_text_color TEXT)'),
 (u'table', u'Stops_20160703', u'Stops_20160703', 59651, u'CREATE TABLE Stops_20160703(stop_id INT, stop_name TEXT, stop_desc TEXT, stop_lat INT, stop_lon INT)'),
 (u'table', u'Trips_20160703', u'Trips_20160703', 59713, u'CREATE TABLE Trips_20160703(route_id TEXT, service_id TEXT, trip_id TEXT, trip_headsign TEXT, direction_id INT, block_id INT, shape_id TEXT)')]